@model CourseProject.Models.Hotels
@{
    ViewBag.Title = "GetInfo";
}

<h2>GetInfo</h2>

<div class="content">
    <div class="container">
        <div class="podloshka">
            <div class="row">
                <div class="post">
                    <div class="row">
                        <div class="main_img">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                                @Html.Raw("<img class='img-responsive' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.ImageData) + "\" />")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="trip_info">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                                <h1>@Model.Name</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="trip_text">
                                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="font-size: 18px">
                                    
                                    <h3>
                                        @Model.Description<br />
                                        Адрес: @Model.City, @Model.Adress
                                    </h3>
                                    <span class="bolder">Телефон: </span>@Model.PhoneNumber <br />
                                    <span class="bolder">Сайт: </span>@Model.WebSite
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p> @Html.ActionLink("Вернутся к каталогу", "SearchHotel", "Home", new { }, new { @class = "btn btn-primary form_controlinputarea" })</p>
    </div>
</div>
