@model IEnumerable<CourseProject.Models.Rooms>
<h2>Список комнат</h2>
<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
            <th>Цена</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in Model)
            {
            <tr>
                <td>@room.Number</td>
                <td>@room.Status</td>
                <td>@room.Price</td>
                <td>@room.Category.Name</td>
                <td>
                    @using (Html.BeginForm("DeleteHotelRoom", "Admin", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@room.Id" />
                        <input type="submit" value="Удалить" class="btn btn-danger" style="width:75px" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

